header {
    display: grid;
    background-color: grey;
}

h1 {
    justify-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: pink;
}

.card {
    background-color: lightblue;
    height: 200px;
}